*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  font-size: 62.5%;
}
body {
  overflow: hidden;
  min-height: inherit;
  height: inherit;
  width: inherit;
  max-width: inherit;
  background-color: aqua;
  font-size: 2.5rem;
  font-family: sans-serif;
}
.wrapper {
  padding: 1rem;
  font-size: 2.5rem;
  line-height: 2;
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 0 0 10px black;
  background-color: white;
}
a {
  text-decoration: none;
  color: black;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}
.highlight {
  transition: all 0.2s;
  border-bottom: 2px solid white;
  position: absolute;
  top: 0;
  background: yellow;
  left: 0;
  z-index: -1;
  border-radius: 20px;
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu {
  padding: 10px;
  display: flex;
  list-style: none;
  justify-content: center;
  /* margin-top: 10px; */
}

.menu a {
  display: inline-block;
  padding: 5px;
  margin: 0 20px;
  color: black;
}
